.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 50%;
    min-height: 300px;
    margin: 10px;
    border: 2px solid  rgba(48,213,200,0.3);
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h2{
        font-size: 18px;
    }
    img {
        width: 70px;
        height: 120px;
    }
}

@media screen and (min-width: 768px){
    .card {
        width: 45%;
        h2{
            font-size: 18px;
        }
        img {
            width: 70px;
            height: 120px;
        }
    }
}

@media screen and (min-width: 1024px){
    .card {
        width: 30%;
        h2{
            font-size: 18px;
        }
        img {
            width: 70px;
            height: 120px;
        }
    }
}

@media screen and (min-width: 1440px){
    .card {
        width: 22%;
        h2{
            font-size: 18px;
        }
        img {
            width: 70px;
            height: 120px;
        }
    }
}
