.card {
    text-align: center;
    width: 65%;
    margin: 10px;
    h2{
        font-size: 18px;
    }
    img {
        width: 70px;
        height: 120px;
    }
    p {
        
    }
}