.side-nav__p {
    font-size: 17px;
    text-align: center;
    border-radius: 8px;
    height: 25px;
    background-color: rgba(48,213,200,0.6);
}

.side-nav__p:hover {
    cursor: pointer;
}