.side-nav__p {
    font-size: 17px;
    text-align: center;
    border-radius: 8px;
    width: 97%;
    height: 25px;
    background-color: rgba(48,213,200,0.6);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-nav__p:hover {
    cursor: pointer;
}