@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$main-font: "Oswald";
$main-background-color: whitesmoke;
$primary-color: rgba(48,213,200,0.3);
$header-color: #D3D3D3;
*{
    font-family: $main-font;
    background-color: $main-background-color;
}

header {
    background-color:$header-color;
    font-family: $main-font;
    display: flex;
    img {
        background-color:$header-color;
        width: 20%;
        height: 100%;
    }
    h1 {
        background-color:$header-color;
        font-size: 18px;
        text-align: center;
    }
    border-bottom: 2px solid black;
}
main{ 
    background-color:$header-color;
    display: flex;
    justify-content: space-evenly;
}

.side-nav {
    text-align: center;
    width: 40%;
    background-color: $primary-color;
}

.beer-cards {
    background-color:$header-color;
    margin: 4px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 375px){
    header {
        display: flex;
        align-items: center;
        img {
            width: 20%;
            height: 100%;
        }
        h1 {
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 768px){
    header {
        display: flex;
        align-items: center;
        img {
            width: 20%;
            height: 100%;
        }
        h1 {
            font-size: 40px;
        }
    }

    .side-nav {
        width: 20%;
    }

    .beer-cards {
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    header {
        display: flex;
        align-items: center;
        img {
            width: 20%;
            height: 100%;
        }
        h1 {
            font-size: 55px;
        }
    }
}

@media screen and (min-width: 1440px){
    header {
        display: flex;
        align-items: center;
        img {
            width: 20%;
            height: 100%;
        }
        h1 {
            font-size: 75px;
        }
    }
}